<?xml version="1.0" encoding="UTF-8"?>
<widget
  xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
 	id = "com.you.www" version = "1.0.0">

  <name>Novartis - Pruebas Cardiológicas</name>

  <description>
    Aplicación de acceso y presentación de artículos de pruebas cardiológicas.
  </description>
  
  <author href="www.c-net.com.ar" email="info@c-net.com.ar">
    C-NET S.R.L.
  </author>

  <icon src="icon.png" gap:role="default" />

  <feature name="http://api.phonegap.com/1.0/network"/>

  <preference name="orientation" value="portrait" />
</widget>
