<?xml version="1.0" encoding="UTF-8"?>
<widget
  xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
  xmlns:android   = "http://schemas.android.com/apk/res/android"
 	id = "ar.com.novartis.CardioTrials" version = "1.1">
   
  <name>Cardio Trials</name>

  <description>
    Aplicación de acceso y presentación de artículos de pruebas cardiológicas.
  </description>

  <author href="www.c-net.com.ar" email="info@c-net.com.ar">
    C-NET S.R.L.
  </author>

  <gap:icon src="icon.png"/>
  <!-- ldpi -->
  <icon src="assets/icons/android/ldpi.png"  gap:platform="android" width="36" height="36" />
  <icon src="assets/icons/android/mdpi.png"  gap:platform="android" gap:qualifier="ldpi" />
  <!-- mdpi -->
  <icon src="assets/icons/android/mdpi.png"  gap:platform="android" width="48" height="48" />
  <icon src="assets/icons/android/hdpi.png"  gap:platform="android" gap:qualifier="mdpi" />
  <!-- hdpi -->
  <icon src="assets/icons/android/hdpi.png"  gap:platform="android" width="72" height="72" />
  <icon src="assets/icons/android/xhdpi.png"  gap:platform="android" gap:qualifier="hdpi" />
  <!-- xhdpi -->
  <icon src="assets/icons/android/xhdpi.png"  gap:platform="android" width="96" height="96" />
  <icon src="assets/icons/android/xxhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />

  <!--  Enable individual API permissions here.
        The "device" permission is required for the 'deviceready' event. -->
  <feature name="http://api.phonegap.com/1.0/device" />

  <content src="index.html" />

  <!--  If you do not want any permissions to be added to your app, add the
        following tag to your config.xml; you will still have the INTERNET
        permission on your app, which PhoneGap requires. -->
  <preference name="permissions"                value="storage"/>
  <!-- Customize your app and platform with the preference element. -->
  <preference name="phonegap-version"           value="3.4.0" />
  <!-- all: current version of PhoneGap -->
  <!--<preference name="orientation"                value="portrait" />-->
  <!-- all: default means both landscape and portrait are enabled -->
  <preference name="target-device"              value="universal" />
  <!-- all: possible values handset, tablet, or universal -->
  <preference name="fullscreen"                 value="true" />
  <!-- all: hides the status bar at the top of the screen -->
  <preference name="android-minSdkVersion"      value="8" />
  <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
  <preference name="android-installLocation"    value="auto" />
  <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
  <preference name="disallowOverscroll"         value="true" />
  <!-- android: set to true if you want to disable the glow when a user scrolls beyond the edge of the webview. -->
  <preference name="splash-screen-duration" value="10000"/>

  <access origin="*"/>


  <gap:config-file platform="android" parent="/manifest">
    <application android:hardwareAccelerated="false" />
  </gap:config-file>
  <gap:splash src="splash.png" />
  <gap:plugin name="com.jcjee.plugins.emailcomposer" version="1.4.6" />
  <gap:plugin name="it.mobimentum.phonegapspinnerplugin" version="1.1.0" />
  
</widget>
