        body {
             font: 100%/1.618 'Lato', sans-serif; 
             font-weight: 400; 
             color: #444; 
             text-rendering: optimizeLegibility;
        }       

        #header-template {
            background-color: #E75E45;    
        }        

        .buttonAppearance-tabstrip {
            color: white;
            background: #f2825b!important; /* Old browsers */
            background: -moz-linear-gradient(top, #f2825b 0%, #e55b2b 50%, #f07146 100%)!important; /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2825b), color-stop(50%,#e55b2b), color-stop(100%,#f07146))!important; /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #f2825b 0%,#e55b2b 50%,#f07146 100%)!important; /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #f2825b 0%,#e55b2b 50%,#f07146 100%)!important; /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #f2825b 0%,#e55b2b 50%,#f07146 100%)!important; /* IE10+ */
            background: linear-gradient(to bottom, #f2825b 0%,#e55b2b 50%,#f07146 100%)!important; /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2825b', endColorstr='#f07146',GradientType=0 )!important; /* IE6-9 */
            font-weight: bold;
            text-decoration: none;
            border: none;
        }

        .image-logo { 
            text-align: right;
            margin-bottom: 25pt;
            margin-top: 15pt;
            margin-right: 25pt;
        }
        
        #search-text {
            margin-left: 1rem;
        }
       
        #eula-footer {
            margin: 1rem;
        }

        #buscar-articulos {
            margin: 1rem;
        }

        #header-categoria{
            text-align:left;
            color: #e55b2b;          
            font-size: 1em;
            font-weight: 700;

        }

        #eula h4 {
            text-align: justify ;
        }

        .item-template-titulo{
            font-size: .8em;
        }

        .item-template-subtitulo {
            color: #9b9b9b;
            font-size: .7em;
        }

        .dv-item-template {

            }

        /*ARTICULOS*/

        .subtitulo {
            font-size: 1.1em;
            color: black;
            font-weight: bold;
            margin: 1rem;
            font-style: italic;
            text-decoration: underline;
        }

        .titulo-articulo {
            font-size: 1.2em;
            color: black;
            font-weight: bold;
            margin: 1rem;
        }

        .sub-titulo-articulo{
            font-size: 1.2em;
            margin: 1rem;
            color: #9b9b9b; 
        }
        
        .contenedor-articulo {
          text-rendering: optimizeLegibility;
            margin: 1rem!important;
        }

        .compartir {
            margin: 1rem!important;
        }

        .p {
            font: 100%/1.618 'Lato', sans-serif; 
             font-weight: 400; 
             color: #444; 
             text-rendering: optimizeLegibility;
        }

        
        /*----------------------------------------*/
        /*------------- Estilos de Kendo ---------*/
        /*----------------------------------------*/


        /*Poner TABSTRIP en el footer para Android*/
        .km-root .km-android .km-view {
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
        }

        .km-android .km-navbar .km-view-title /* After Q2 2012 SP1 */
        {
            visibility: visible;
        }


        .km-android .km-view .km-content {
            background-color: rgb(255, 255, 255);
            color: rgb(51, 51, 51);
        }
        .km-android .km-view .km-content .km-listgroupinset .km-group-title .km-text {
            color: rgb(51, 51, 51);
        }
        .km-android .km-view .km-tabstrip .km-button {
            background-color: rgb(255, 255, 255);
        }   
        .km-android .km-view .km-navbar {
            background-color: rgb(255, 255, 255);
        }
        .km-android .km-view .km-navbar .km-button .km-text {
            color: rgb(51, 51, 51);
        }   
        .km-android .km-listview .km-list {
            border-top-color: rgb(255, 255, 255);
        }
        .km-android .km-view .km-content .km-list > li {
            border-color: rgb(255, 255, 255);
        }
        .km-android .km-view .km-content .km-listgroup .km-group-title .km-text {
            color: #333;
        }
        .km-android .km-view .km-content .km-list > li .km-switch .km-switch-container {
            background-color: #ffffff;
        }

        input[type="text"]{ 
        color: black !important;
        }
             
        .km-button {
             box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            background-color: #e55b2b !important;
            color: white !important;           
            font-weight: bold!important;
            border: 2px solid!important;
            border-width: 1px!important; 
            border-color: black !important;
            text-align:center!important;
            vertical-align:middle!important;                        
        }

        .km-widget:hover
        .km-button:hover{  background-color: #C64311 !important;}

        .km-list
        .km-group-title {
            margin: 0 auto!important;
        }

        .km-view-title {
            color: white;
            background: #f2825b; /* Old browsers */
            background: -moz-linear-gradient(top, #f2825b 0%, #e55b2b 50%, #f07146 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2825b), color-stop(50%,#e55b2b), color-stop(100%,#f07146)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #f2825b 0%,#e55b2b 50%,#f07146 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #f2825b 0%,#e55b2b 50%,#f07146 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #f2825b 0%,#e55b2b 50%,#f07146 100%); /* IE10+ */
            background: linear-gradient(to bottom, #f2825b 0%,#e55b2b 50%,#f07146 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2825b', endColorstr='#f07146',GradientType=0 ); /* IE6-9 */
            font-weight: bold;
            text-decoration: none;
            text-shadow: none;
        } 


       